build/
install_dir/
CMakeFiles
*.tgz
.vscode/
*.swp
# From AMGX
plugin_config.cu
*.swp
.cache/
compile

# Related to turbChannel example
examples/turbChannel_smartredis/channel.nek5000
examples/turbChannel_smartredis/channel0.f00*
examples/turbChannel_smartredis/cmake.log
examples/turbChannel_smartredis/outputs/

# Outputs of example cases
*.f00*
*cmake.log
*.nek5000

# Related to SmartSim/SmartRedis devs
*.out
*.err
*/outputs/
*.colocated_launcher.sh
*.pt
*-db.log
